<div class="row">
  <div class="col-12 col-offset-2">
    <h3>
      Reset your password
    </h3>
    <form name="form" #f="ngForm" (ngSubmit)="resetPassword(email, f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
        type="email"
        placeholder="Email..."
        class="form-control"
        aria-describedby="helpBlock"
        email 
        name="email"
        ngModel
        #email
        required
        [ngClass]="{'has-error': !f.submitted && !email.valid && email.touched}"/>
      </div>
      <div class="form-group">
        <span *ngIf="!f.submitted && !email.valid && email.touched" class="help-block">
          Please enter a valid email
        </span>
      </div>
      <div class="form-group">
      <input type="submit" class="btn btn-primary" [disabled]='!f.valid' value="Reset" />
      <div *ngIf="f.submitted && isEmailSent">
        <div class="alert alert-success">
          An email has been sent to
          <strong [innerText]="email.value"></strong>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>