        <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>Login</h2>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
            <div class="form-group" [ngClass]="{ 'has-error': !email.valid }">
                <label for="email">Email</label>
                <input type="email"
                placeholder="Email..." 
                class="form-control"
                aria-describedby="helpBlock"
                email 
                name="email"
                ngModel
                #email
                required
                [(ngModel)]="model.email"/>
                <div *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">
                <label for="password">Password</label>
                <input 
                type="password" 
                class="form-control"
                placeholder="Password..." 
                aria-describedby="helpBlock"
                name="password"
                #password="ngModel"
                [(ngModel)]="model.password"
                required 
                minlength="6" />
                <div *ngIf="!password.valid && password.touched" class="help-block">Password must be at least 5 charecters long</div>
            </div>            
                <div class="col-12-offset-2" *ngIf="isLoginFailed">
                    <div class="alert alert-danger" role="alert">
                        <strong>The Login operation has failed</strong>
                    </div>                
            </div>
            <div class="form-group">
                <div class="col-12-offset-2">
                    <div class="checkbox">
                        <input type="checkbox" ngModel name="rememberMe" [(ngModel)]="model.persistentLoggedIn"/>Remember me
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12-offset-2">
                    <a routerLink="/forgot-password">forgot password</a>
                </div>
            </div>
            <input type="submit" (click)="login()" class="btn btn-primary" [disabled]='!f.valid' value="Login"/>
        </form>
    </div>